@mixin item () {
  padding: $padding;
  border-bottom: $border-width solid $border-color;
  transition: all ease 0.5s;
}

.Todo {
  list-style: none;
  margin: 0;
  padding: 0;
  &-item {
    @include item();
    &--done {
      text-decoration: line-through;
      color: var(--dark-2);
    }
  }
  &-check {
    -webkit-appearance: none;
    width: $size;
    height: $size;
    border: $border-width solid var(--dark-2);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: $size/3;
    position: relative;
    cursor: pointer;
    text-align: center;
    &--done {
      &::before {
        left: 20%;
        content: '\2713';
        color: var(--dark-2);
        line-height: $size;
        position: absolute;
      }
    }
  }
}

.AddTodo {
  @include item();
  &-form {
    display: flex;
    justify-content: space-between;
  }
  &-input {
    outline: none;
    flex-grow: 1;
    border: none;
    padding-left: $size;
    font-size: large;
  }
}

.Footer {
  @include item();
  text-align: center;
}

.Card {
  min-width: 40%;
  background: var(--light);
  border: $border-width solid $border-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1)
}

.Button {
  outline: none;
  color: inherit;
  margin: $size/3;
  padding: $size/6 $size/2;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: $size/8;
  background: transparent;
  cursor: pointer;
  &--active,
  &:hover {
    border-color: $border-color;
    transition: ease all 0.5s;
  }
}