@mixin item () {
  padding: $padding;
  border-bottom: $border-width solid $border-color;
  transition: all ease 0.5s;
}

.Todo {
  list-style: none;
  margin: 0;
  padding: 0;
  &-item {
    @include item();
    &--done {
      text-decoration: line-through;
      color: var(--dark-2);
    }
  }
  &-check {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: $border-width solid $border-color;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: $size/3;
    position: relative;
    cursor: pointer;
    &--done {
      &::before {
        bottom: -15%;
        left: 20%;
        content: '\2713';
        color: var(--dark-2);
        position: absolute;
      }
    }
  }
}

.AddTodo {
  @include item();
}

.Footer {
  @include item();
}

.Card {
  min-width: 40%;
  background: var(--light);
  border: $border-width solid $border-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1)
}